body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #DA6562;
    color: #FFD700;
    padding: 5px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.jumbotron {
    background-color: #DA6562;
    color: #FFD700;
    padding: 5px 0px 5px 20px;
    border-radius: 0%;
    margin-bottom: 7px;
    min-width: 352px;
}

.jumbotron div img {
    margin-top: 9px;
    position: absolute;
    right: 15%;
}

#title-col {
    width: 80%;
}

#image-col {
    width: 20%;
}
select {
    margin-bottom: 14px;
}

#translationDiv {
    display: none;
    border: solid black 2px;
    background-image: linear-gradient(to bottom right, #F8ECC2, #F4F4E2);
    padding: 15px 15px 0px 15px;
}

#textToTranslate {
    margin-bottom: 7px;
}

#contact {
    margin: 14px 0px 45px 0px;
}